<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366326099341-rg4mgaopud7spegni39t0oe3ien8nuar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366326099341-rg4mgaopud7spegni39t0oe3ien8nuar</string>
	<key>API_KEY</key>
	<string>AIzaSyBt6s5AMTXkbM0Zg8_x6D4NYthB2ESb9tw</string>
	<key>GCM_SENDER_ID</key>
	<string>366326099341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anupambharti.OkPeriods</string>
	<key>PROJECT_ID</key>
	<string>tasks-9b50a</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-9b50a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366326099341:ios:40514af86fd5e96eeca1c4</string>
</dict>
</plist>